<table class="table table-bordered table-responsive" id="IdTabla-@ViewBag.Id" style="width: 100%;">
    <thead>
        <tr>
            <th>Cantidad</th>
            <th>Descripcion Item</th>
            <th>Categoria</th>
            <th>Unidad de Medida</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    $("#IdTabla-" + '@ViewBag.Id').dataTable({
        responsive: true,
        sDom:"",
        ajax:{
            url: "@Url.Action("CargarTablaDetalleEntrega", "Entrega")",//"/Entrega/CargarTablaDetalleEntrega",
            data: {IdEntrega: '@ViewBag.Id'},
            type: "GET",
            global: false,
            dataSrc: function (data) { return data; }
        },
        columns: [
              //{
              //    data: null,
              //    render: function(data){
              //        return '<input type="number" name="InputCantidad" min="1" max="'+data.cant_disponible+'" class="form-control" required value="'+data.cant_aentregar+'" /> '+
              //               '<span class="text-danger field-validation-valid" data-valmsg-for="InputCantidad" data-valmsg-replace="true"></span>';
              //    }
              //},
              {
                  data: "cant_aentregar"
              },
              {
                  data: "descripcion"
              },
              {
                  data: "categoria"
              },
              {
                  data: "unidad_medida"
              }
        ]
    });

</script>
